
h1{font-size:1.5rem;color:#b9fffc;text-shadow: 2px 2px 5px purple}
h2{font-size:1.5rem;color:#b9fffc;text-shadow: 2px 2px 5px purple}
h3{font-size:1.5rem;color:#b9fffc;text-shadow: 2px 2px 5px purple}
h4{font-size:1.5rem;color:#b9fffc;text-shadow: 2px 2px 5px purple}
h5{font-size:1.5rem;color:#b9fffc;text-shadow: 2px 2px 5px purple}
h6{font-size:1.5rem;color:#b9fffc;text-shadow: 2px 2px 5px purple}
img{size:10px}
body {
  background-image: linear-gradient(#7579e7, #9ab3f5,#a3d8f4);
}
hr{border-style: dotted ;border-color: purple ; width:30%; height:0px;border-top-style:none;border-left-style: none;border-right-style: none;border-width: 5px}
table{border-collapse: collapse; border-color: blue;}
